/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* 全局样式开始 =================================================================*/

html, body {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {display:none}

body {
  font-size: 15px;
  line-height: 1.50;
  color: #333;
  background-color: #fff;
  position: relative;
}

.cover{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 1;
  z-index: 999;
  text-align: center;
}


a:hover {
  text-decoration: none;
}

section {
  background-color: #ffffff;
  padding: 80px 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* 全局样式结束 =================================================================*/

/* 头部样式开始 =================================================================*/

.navbar-default {
  width: 100%;
  background-color: transparent;
  border: none;
}
.navbar-default .navbar-collapse{
  background-color: black;
  border: none;
}

.navbar-default .navbar-nav>li>a {
  color: #eee;
  font-size: 18px;
}

.navbar-default .navbar-nav>li.active>a:hover, .navbar-default .navbar-nav>li>a:hover {
  color: #55ACEE;
}

.navbar-default .navbar-nav>li.active>a {
  background-color: transparent;
  color: #55ACEE;
}

.navbar-default .navbar-nav>.active>a:hover {
  background-color: transparent;
}

 header {
  height: 70px;
  background-color: rgba(0, 0, 0, 0.95);
  padding: 5px 0;
}

.logo {
  display: flex;
  flex-direction: row;
  margin-left:10px;
  overflow: hidden;
  line-height: 44px;
  width: auto;
  height: 44px;
  color: #fff;
  font-size: 16px;
}
.logo .pic{
  width: 44px;
  height: 44px;
}

.site-name {
  font-size: 24px;
}

.site-slogan {
  font-size: 12px;
}

 .guide {
  margin-top: 5px;
}

/* 头部样式结束 =================================================================*/



/* 首页样式开始 =================================================================*/

.index {
  height: 100%;
}

.index h3, .index p {
  color: #fff;
  font-size: 24px;
}

.index h1 {
  color: #55ACEE;
  font-size: 60px;
  font-weight: 700;
}

.index::after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  content: '';
}

.index .index-caption {
  z-index: 1;
  position: absolute;
  top: 35%;
  width: 100%;
}

/* 首页样式结束 =================================================================*/

/* 关于样式开始 =================================================================*/

.panel-default>.panel-heading {
  padding: 0;
}

.panel-default>.panel-heading a {
  display: inline-block;
  width: 100%;
  background-color: #55ACEE;
  color: #fff;
  position: relative;
  text-decoration: none;
  padding: 12px 15px;
}

.panel-default>.panel-heading a::after {
  font-family: "fontawesome";
  content: '\f147';
  position: absolute;
  right: 15px;
  font-size: 14px;
  top: 35%;
}

.panel-default>.panel-heading a.collapsed {
  background-color: #333;
}

.panel-default>.panel-heading a.collapsed::after {
  content: '\f196';
}

.panel-default>.panel-heading a:hover {
  background-color: #55ACEE;
}

.object-non-visiable {
  opacity: 0;
}

.object-visiable {
  opacity: 1;
}

.title{
  animate-delay: 1s;
}

/* 关于样式结束 =================================================================*/

/* 服务样式开始 =================================================================*/

.service {
  position: relative;
  background: url("../img/index-bg06.jpg") no-repeat;
  background-size: 100% 100%;
}

/*.service::after {*/
  /*position: absolute;*/
  /*top: 0;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*content: '';*/
  /*background-color: rgba(98, 165, 216, 0.7);*/
/*}*/

.service {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}

.service .container {
  position: relative;
  z-index: 1;
}

.service h1 {
  font-weight: 700;
  margin-bottom: 30px;
}

.service i {
  color: #fff;
  transform: scale(0.8);
}

.col-xs-5 img{
  margin-bottom: 50px;
  width: 128px;
  height: 128px;
}

/* 服务样式结束 =================================================================*/




/* 图集样式开始 =================================================================*/

#portfolio{
  position: relative;
  background: url("../img/index-bg05.png") no-repeat;
  background-size: 100% 100%;
  overflow: auto;
  height: 1200px;
}


#portfolio p{
  font-size: 18px;
}

.filter li {
  float: none;
  display: inline-block;
  padding: 20px 0;

}

.filter li a{
  color: deepskyblue;
  font-weight: 500;
  font-size: 17px;
}

.overlay-container {
  position: relative;
}

.overlay-container img ,a {
  margin: 0 auto;
  cursor: pointer;
}

.overlay-container :hover {
  transform: scale(1.2);
}

.overlay-container img,.link{
  width: 165px;
  height: 175px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(98, 165, 216, 0.7);
  cursor: pointer;
  transform: scale(0.8);
  transition: all 0.2s;
  opacity: 0;
}

.overlay i {
  position: absolute;
  left: 45%;
  top: 40%;
  font-size: 18px;
  color: #fff;
}

.overlay span {
  position: absolute;
  bottom: 10px;
  font-size: 13px;
  color: #fff;
  text-align: center;
  width: 100%;
}

.overlay-container:hover .overlay {
  opacity: 1;
  transform: scale(1);
}

.modal-header {
  background-color: #55ACEE;
  color: #fff;
}

.modal-header .close {
  color: #fff;
  opacity: 1;
}

.isotope-container{
  position: relative;
  height: 209px;
}

/* 图集样式结束 =================================================================*/

/* 联系我们开始 =================================================================*/

.contact .row {
  font-size: 18px;
}

.contact ul {
  list-style: none;
  padding: 0;
}

.contact ul li {
  margin: 20px 0;
}

.contact .links li {
  float: left;
  font-size: 36px;
  margin: 15px 30px 15px 0;
}

.contact .links li a {
  color: #000;
}

.contact .links li.facebook a:hover {
  color: yellow;
}

.contact .links li.twitter a:hover {
  color: blue;
}

.contact span {
  margin-top: 6px;
}

/* 联系我们结束 =================================================================*/
